<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RTC</title>
<style>
    .full{
        display: grid;
        grid-template-rows: 100px auto;
        justify-items: center;
        width: 100%;
        height: 100%;
        background-color: #abb1b6;
    }
    .nav{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: 70%;
        height: 100px;
    }
    .content{

    }

</style>
</head>
<body>
<div class="full">
    <div class="nav">
        <div>Logo</div>
        <div>Live</div>
        <div>Conference</div>
        <div>Call</div>
        <div>Contact</div>
    </div>

    <div class="content">

    </div>

</div>

</body>
<script>
</script>
</html>